.header{
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    padding:7.75rem 00;

    @include breakpoint-down(small){
        background-image: url(/images/bg-header-mobile.png);
        background-size: cover;
        background-position: center;
        padding: 5.9375rem 1.625rem;
        
    }

    

    .w-content{
        text-align: center;

        h1{
            font-size: 2.6875rem;
            color: $DarkGrayishBlue;
            margin-top: 69px;
            margin-bottom: 25px;
            @include breakpoint-down(small){
                font-size: 2rem;
            }
        }
        p{
            text-align: center;
            margin-bottom: 3rem;

            @include breakpoint-down(small){
                margin-bottom: 2.5rem;
            }
        }
       
    }
    
   
}

.main-section{
    @include breakpoint-down(small){
        padding: 0 1.625rem;
         
     }

     @include breakpoint-down(medium){
        padding: 0  3rem;
        
    }
    .services-info{
        width:58%;
        margin: 0 auto;
        text-align: center;

        @include breakpoint-down(small){
            width: 100%; 
        }
    }
    .services-cont{
        margin-top: 5.125rem;
        margin-bottom: 9.625rem;

        @include breakpoint-down(small){
            margin-top: 3.25rem;
            margin-bottom: 9.5rem;
            flex-direction: column;
        }
        @include breakpoint-down(medium){
            margin-top: 3.25rem;
            margin-bottom: 9.5rem;
            flex-direction: column;
        }

        img{
            position: relative;
            right: 12%;

            @include breakpoint-down(small){
                position: relative;
                right: 0;
                width: 100%; 
            }

            @include breakpoint-down(medium){
                position: relative;
                right: 0;
                width: 100%; 
            }

        }
        .services-group{
            padding: 4.5rem 2rem;

            @include breakpoint-down(small){
                padding: 0;
                
            }

            .services-item{
                width: 55%;
                p{
                    font-size: 0.875rem;
                }
                @include breakpoint-down(small){
                    margin-top: 2.875rem;
                    text-align: center;
                    width: 100%; 
                }
                @include breakpoint-down(medium){
                    margin-top: 2.875rem;
                    text-align: center;
                    width: 100%; 
                }
            }
        }
    }
    .services-divices{
        .img-devices{
            margin-top: 6.875rem;
            margin-bottom: 10.5rem;

            @include breakpoint-down(small){
                margin-top: 3.3125rem;
                margin-bottom: 6.625rem;
                img{
                    width: 100%;
                }
            }

            @include breakpoint-down(medium){
                margin-top: 3.3125rem;
                margin-bottom: 6.625rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    .services-workflow{
        .services-cont-wf{
            text-align: center;
            align-items: baseline;
            margin-top: 4.8125rem;
            

            @include breakpoint-down(small){
                flex-direction: column;
            }

            .workflow-item{
                width: 26%;
                padding-right:2.5625rem;
                p{
                    font-size: 0.875rem;
                }

                @include breakpoint-down(small){
                    padding: 0;
                    margin-top: 2.875rem;
                    width: 100%; 
                }
                
            }
           
        }

    }
    .services-comp{
        margin-top: 5.218rem;
        margin-bottom: 5.218rem;

        @include breakpoint-down(small){
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 6.375rem;
            margin-bottom: 8.4375rem;  

        }
        @include breakpoint-down(medium){
            
            flex-wrap: wrap;
            
        }
    }
    .w-content-2{
        .group-btn{
            margin-top: 6.375rem;
            margin-bottom: 9.375rem;
        }
    }

}

.footer{
    background-color:#F6F5F5;
    padding: 2.625rem 0;

    @include breakpoint-down(medium){
        padding: 2.625rem  3rem;
        
    }
    .footer-menu{
        img{
            width: 40%;
            margin-right: 4.5rem;

            @include breakpoint-down(small){
                margin: 0;
    
            }
        }
        .menu-item{
            .m-item{
                display: block;
                margin-right: 6.0625rem;
                margin-bottom: 1.3125rem;
                text-decoration: none;
                color:$GrayishBlue;
                transition: all 300ms ease-in-out;

                &:hover{
                    color:$StrongCyan;
                }

                @include breakpoint-down(small){
                    margin: 0;
                    margin-bottom:1.25rem;
                }
            }

        }   
        
        @include breakpoint-down(small){
            text-align: center;
        }

        .f-menu{
            @include breakpoint-down(small){
                text-align: center;
                margin-top: 2.125rem;
                margin-bottom: 2.125rem;
    
            }

        }
    
    }
    .f-social{
        a{
            &:not(:last-child){
                margin-right: 1.4375rem;

                @include breakpoint-down(small){
                    margin-right: 2.125rem;
                }

            }
            svg{
                fill:#4C545C;
                transition: all 300ms ease-in-out;

                &:hover{
                    fill: $StrongCyan;

                }
            }
        }

    }

    &, .footer-menu, .f-menu {
        @include breakpoint-down(small){
            flex-direction: column;
        }

    }

    .footer{
        @include breakpoint-down(small){
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

    }
}


